.App {
  text-align: center;
}

html, body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

body{
  background-color:aliceblue;
  display: flex;
  flex-direction: column;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .header_name {
  font-family: 
} */

nav > a, nav > a:visited {
  text-decoration: none;
  color: rgb(230, 217, 230);
}

nav >a:hover {
  color: #61dafb;
}
.App-link {
  color: #61dafb;
}

.pokePosts {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 100px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
}

.projectsContainer {
  display: flex;
  justify-content: space-around;
}

.projectSpot {
  border: 1px solid black;
  width: 40em;
  margin: 5em;
  background-color: rgb(112, 128, 143);
  color: white;
}

.projectPic {
  width: 19em;
  height: 16em;
}

.austinPic {
  width: 27em;
  height: 20em;
}

/* .footer {
  flex-shrink: 0;
  text-align: center;
  height: 40px;
  background-color: rgb(110, 188, 213);
  color: white;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
