.App {
  text-align: center;
  margin-bottom: 5em;
}

html, body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

body{
  background-color:aliceblue;
  display: flex;
  flex-direction: column;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(#728ec6, aliceblue);
  margin-bottom: 1em;
  font-family: Chalkduster, fantasy;
}

.header_name {
  margin-bottom: 0
}

.header_email{
margin-top: 1em;
color:rgb(252, 251, 251);
text-decoration: underline;
}

nav {
  color: black
}

nav > a, nav > a:visited {
  text-decoration: none;
  /* color: rgb(230, 217, 230); */
  color: black;
}

nav >a:hover {
  color: #61dafb;
}
.App-link {
  color: #61dafb;
}


.projectsContainer {
  display: flex;
  justify-content: space-around;
}

.projectSpot {
  border: 1px solid black;
  border-radius: 5px;
  width: 40em;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
  background-color: rgb(112, 128, 143);
  color: rgb(255, 253, 253);
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.projectPic {
  width: 19em;
  height: 16em;
}

.aboutMeContainer {
  margin-bottom: 5.5em;
}

.aboutMeBox {
  display: flex;
  justify-content: center;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 2em;
  /* border: 1px solid black; */
}

.aboutMe {
  color: rgb(119, 112, 173);
}

.austinPic {
  width: 27em;
  height: 19em;
}

.socialsLinks {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  margin-left: .5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
